VITE_COMMAND_CENTER_URL=https://command-center-89ltykpmr-oluwadareanuoluwapo458-7684.vercel.app
VITE_SORO_API_URL=http://localhost:3000
VITE_VAPI_PUBLIC_KEY=
VITE_VAPI_ASSISTANT_ID=440f103a-2190-4780-8844-6ce9a9fdb441
